@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
 body {
	 font-family: 'Archivo Black', sans-serif;
	 background: url('./back.jpg');
	 background-size: 100% 100%;
	 background-position: center;
	 color: #fff;
}
 html, body {
	 height: 100%;
}
 .main-wrapper {
	 position: relative;
	 padding: 0;
	 min-height: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .loader {
	 position: relative;
	 font-size: 10vw;
	 text-align: center;
	 margin: 0;
	 padding: 0;
	 z-index: 1;
}
 .noise-wrapper {
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 opacity: 0;
	 overflow: hidden;
	 z-index: 10;
}

 .noise {
	 position: absolute;
	 top: -500px;
	 right: -500px;
	 bottom: -500px;
	 left: -500px;
	 background: transparent url('noise.png') 0 0;
	 background-size: 100px 100px;
	 opacity: .35;
	 animation: noise 1s steps(8,end) infinite both;
}
 @keyframes noise {
	 0% {
		 transform: translateX(0px,0px);
	}
	 10% {
		 transform: translate(-50px,50px);
	}
	 20% {
		 transform: translate(75px,-50px);
	}
	 30% {
		 transform: translate(-50px,50px);
	}
	 40% {
		 transform: translate(50px,-75px);
	}
	 50% {
		 transform: translate(-50px,100px);
	}
	 60% {
		 transform: translate(-100px,-50px);
	}
	 70% {
		 transform: translateY(20px,50px);
	}
	 80% {
		 transform: translate(100px,-150px);
	}
	 90% {
		 transform: translate(0px,200px);
	}
	 100% {
		 transform: translate(-100px,100px);
	}
}
 